<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="(%F:%L) - %m%n"/>
    </Console>
    <File name="FILE" fileName="sample.log" append="false">
      <PatternLayout pattern="%d %-5p [%t] (%F:%L) - %m%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="com.orctom.laputa.server" level="trace"/>
    <Root level="debug">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>