#template-application, #template-role, #template-meter {
  visibility: hidden;
}

.list-group {
  text-align: left;
  margin: 0;
}

.list-group-item {
  padding: 3px 18px !important;
}

.meter {
  line-height: 0.7;
}

.badge-info {
  background-color: darkslateblue;
}

.badge-info:hover {
  background-color: #2d6987;
}

.chart-canvas .group-container {
  border: 1px solid darkslateblue;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  padding: 0.7em;
  font-size: 1em;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in;
  -moz-transition: -moz-box-shadow 0.15s ease-in;
  -o-transition: -o-box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;
}

.chart-canvas .window {
  border: 1px solid #346789;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  opacity: 0.8;
  width: 200px;
  text-align: center;
  z-index: 10;
  position: relative;
  cursor: default;
  background-color: #eeeeef;
  color: black;
  font-family: helvetica, sans-serif;
  padding: 0.5em;
  font-size: 0.9em;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in;
  -moz-transition: -moz-box-shadow 0.15s ease-in;
  -o-transition: -o-box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;
}

.chart-canvas .window:hover {
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #444;
  opacity: 0.6;
}

.chart-canvas .active {
  border: 1px dotted green;
}

.chart-canvas .hover {
  border: 1px dotted red;
}

.chart-canvas .jtk-connector {
  z-index: 20;
}

.chart-canvas .jtk-endpoint, .endpointTargetLabel, .endpointSourceLabel {
  z-index: 21;
  cursor: pointer;
}

.chart-canvas .aLabel {
  background-color: white;
  padding: 0.4em;
  font: 12px sans-serif;
  color: #444;
  z-index: 21;
  border: 1px dotted gray;
  opacity: 0.8;
  cursor: pointer;
}

.chart-canvas .aLabel.jtk-hover {
  background-color: #5C96BC;
  color: white;
  border: 1px solid white;
}

.window.jtk-connected {
  border: 1px solid green;
}

.jtk-drag {
  outline: 4px solid pink !important;
}

path, .jtk-endpoint {
  cursor: pointer;
}

.jtk-overlay {
  background-color:transparent;
}
